{% extends "base.html" %}

{% block title %}Корзина{% endblock %}

{% block content %}
    <h1>Товары в корзине:</h1>
    <p></p>
    {% for i in items %}
        <p>{{ i.product.name }} | Цена: {{ i.product.price }} | Количество: {{ i.count }} | Сумма: {{ i.get_sum }}</p>
        <form action="{% url "cart_delete" i.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Удалить</button>
        </form>
    {% endfor %}
    <h3>Итого:</h3>
    <p>{{ total }}</p>
    <h3>Сделать заказ</h3>
    <form action="{% url "create_order" %}" method="post">
        {% include "partial/form.html"  with button_text="Заказать" %}
    </form><br/>
    <a style="color: red;" href="{% url "index" %}"><b>На главную</b></a>
{% endblock %}