{% extends "base.html" %}
{% load static %}

{% block title %}Товары{% endblock %}

{% block content %}
    <h1>Коталог товаров</h1>
    <div>
        {% include "partial/search_form.html" %}
    </div>
    <div>
        {% if search %}
            <p><a href="{% url "index" %}">На главную</a></p>
        {% else %}
            <p><a href="{% url "create" %}">Добавить новый товар</a></p>
        {% endif %}
        {% for product in products %}
            <p>
            <h3><a href="{% url "product_view" product.pk %}">{{ product.name }}</a>, Цена: {{ product.price }}
                ({{ product.get_category_display }})</h3>
            </p>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}