{% csrf_token %}
<label>Наименование товара:</label><br/>
<input type="text" name="name" value="{{ product.name }}" required/><br/>
<label>Описание товара:</label><br/>
<textarea name="description">{{ product.description }}</textarea><br/>
<label>Категория:</label><br/>
<select name="category">
    <option value="books">Книги</option>
    <option value="electronics">Электроника</option>
    <option value="pet_supplies">Зоотовары</option>
    <option value="other">Разное</option>
</select><br/>
<label>В наличии:</label><br/>
<input type="number" name="available" value="{{ product.available }}"/><br/>
<label>Цена:</label><br/>
<input type="number" name="price" value="{{ product.price }}"/><br/>
<br/>
<input type="submit" value="{{ button_text }}"/>